@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Home Page";
}

<div style="font-family:'Jameel Noori Nastaleeq';font-size:20px;" class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p>@localizer["Usama Khan Baloch"]</p>
</div>